// 全局配色配置

body {
  --view-max-width: 1200px;
  --view-max-height: 800px;
  --view-border-radius: 30px;

  --content-bg: #f9f9f9;
  --text-color: #34495e;

  --app-menu-bg: #fbfbfb;
  --app-menu-item-active-bg: #ffffff;
  --app-menu-item-normal-bg: transparent;
  --app-menu-item-active-color: #34495e;
  --app-menu-item-normal-color: #97a3b1;
  --app-menu-item-active-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);

  --app-menu-item-user-card-bg: #ffffff;

  // home-search
  --home-header-search-list-item-name-color: #42b883;
  --home-header-search-list-item-desc-color: #ccc;

  --home-card-border-radius: 30px;
}
